# Critical: input files for HSDSnake, please only substitute the species name to yours, keep the input file format, such as Athaliana.interproscan.tsv, Athaliana.ko.txt

names:
  - Athaliana
  - Creinhardtii

ncbi_genomes:
    Athaliana:
        assembly: "XX/XX.fasta"
        gff: "XX/XX.gff"
        outgroup: "Creinhardtii"
        interproscan: "data/Athaliana.interproscan.tsv"
        KEGG: "data/Athaliana.ko.txt"
    Creinhardtii:
        assembly:  "XX/XX.fasta"
        gff: "XX/XX.gff"
        outgroup: "Athaliana"
        interproscan: "data/Creinhardtii.interproscan.tsv"
        KEGG: "data/Creinhardtii.ko.txt"

################Above are the directories for fasta, interproscan, ko result you shall modify for your own data##########

dup_types:
  - tandem
  - dispersed
  - proximal
  - transposed
  - wgd
  - all

MCScanX_protocol:
 - "/scripts/MCScanX_protocol"

DupGen_finder:
 - "/scripts/DupGen_finder"
 
identify_Ks_peaks_by_fitting_GMM: 
  - "/scripts/identify_Ks_peaks_by_fitting_GMM/"

HSDFinder: 
  - "/scripts/hsdfinder/"

HSDecipher: "/scripts/hsdecipher/"

HSD_identity:
- 90
- 80
- 70
- 60
- 50

HSD_variance:
- 100
- 70
- 50
- 30
- 10

######## modidy the heatmap hight and width depending on your dataset scale ###############

heatmap_hight: 20 

heatmap_width: 30
